@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body {
  font-family: 'Nunito Sans';
}

.font-montserrat {
  font-family: 'Montserrat';
}

.font-nunito-sans {
  font-family: 'Nunito Sans';
}
option {
  color: black;
}
select {
  background: transparent;
}

.radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.radio-button:checked + .radio-tile {
  border: 1px solid rgba(67, 24, 255, 1);
  color: white;
  transform: scale(1.1, 1.1);
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 black, 0 1px 5px 0 rgba(67, 24, 255, 0.19);
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #c0c0c0 transparent; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c0c0c0; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the scrollbar handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Handle color on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

*:focus {
  outline: none;
}
